node_modules

Dockerfile*
docker-compose*
.dockerignore

.git
.gitignore

README.md
LICENSE

.vscode

.env
.env.*
!.env.example
!.env.test

.output
.vercel
/.svelte-kit
/build

.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# my stuff
/prisma/data
/data/