@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input {
	@apply bg-gray-800;
	@apply text-white;
}
textarea {
	@apply bg-gray-800;
	@apply text-white;
}
