@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");

@import "tailwindcss";
@config '../tailwind.config.ts';

/* Fixes hover not working on some laptops */
@custom-variant hover (&:hover);

@theme {
	--color-white-text: #ffffff;
	--color-secondary-text: #8c8c8c;
	--color-primary-background: #000000;
	--color-secondary-background: #121212;
	--color-primary: #453a57;
	--color-secondary: #272727;
	--color-accent: #a559d9;
	--color-darker-accent: #6f3c91;
	--color-error: #ff4040;
	--color-warn: #991b1b;
	--color-kopymatic: #d4031d;

	--font-gaegu: "Gaegu", serif;
	--font-rock-salt: "Rock Salt", cursive;

	--animate-funnytext: funnytext 10s ease-in-out infinite;
	@keyframes funnytext {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@layer base {
	input,
	textarea,
	select,
	button {
		@apply border-primary bg-secondary text-white-text rounded-md border-2 px-2 py-1;
	}
	a {
		@apply text-accent;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}

	/* Borrowed largely from https://dev.to/adbutterfield/custom-styling-checkboxes-the-modern-way-3o42 */
	input[type="checkbox"] {
		@apply border-primary m-1.5 box-border h-6 w-6 appearance-none border-2 bg-transparent p-0 align-middle outline-0 transition duration-75;
	}
	input[type="checkbox"]:checked {
		@apply bg-cover p-0.5;
	}
	input[type="checkbox"]:not(:disabled):checked {
		@apply border-accent;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %236f3c91	" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
	}

	@media (hover: hover) {
		input[type="checkbox"]:not(:disabled):hover {
			background-color: var(--checkbox-hover-color);
			outline: 6px solid var(--checkbox-hover-color);
			transform: scale(1.05);
		}
	}

	input[type="checkbox"]:focus-visible {
		outline: 6px solid var(--checkbox-hover-color);
		transform: scale(1.05);
	}
}

@layer utilities {
	.error {
		@apply text-error m-0 p-0 text-sm;
	}
	.hover-shrink-div {
		@apply *:mx-auto *:box-border *:transition-all *:duration-300 *:ease-in-out *:group-hover:scale-95 *:group-hover:opacity-90 *:hover:z-10 *:hover:scale-105 *:hover:opacity-100;
	}
	.generic-border {
		@apply border-primary hover:border-accent rounded-lg border-2;
	}
	.generic-border-children {
		@apply *:border-primary *:hover:border-accent *:rounded-lg *:border-2;
	}
}
