@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input,
textarea,
select,
button {
	@apply rounded-md border-2 border-primary bg-secondary px-2 py-1 text-text;
}
a {
	@apply text-accent;
}
* {
	@apply box-border;
}
