@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

input,
textarea,
select,
button {
	@apply rounded-md border-2 border-primary bg-secondary px-2 py-1 text-text;
}
a {
	@apply text-accent;
}
* {
	@apply box-border;
}
h1 {
	@apply font-gaegu text-4xl;
}
h2 {
	@apply text-3xl;
}

.rock-salt-regular {
	font-family: 'Rock Salt', cursive;
	font-weight: 400;
	font-style: normal;
}

.gaegu-regular {
	font-family: 'Gaegu', serif;
	font-weight: 400;
	font-style: normal;
}
