@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input,
textarea,
select,
button {
	@apply bg-secondary border-primary text-text rounded-md border-2 px-2 py-1;
}
a {
	@apply text-accent;
}
